<h1>ドリンク</h1>
<% @menus.each do |t| %>
  <% if t.category == "drink" %> 
  　　<%= image_tag t.image_url, size: "250x200" if t.image? %>
    
      <%= t.name %>
      <%= t.about %>
      <%= t.price %>

  　　<%= button_to 'いいね', menu_likes_path(id: t.id, menu_id: t.id) %>
  　　<%= t.likes.count %>
  　　<%= flash[:notice] %>

  <% end %>
<% end %>