<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->

<head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title>Est</title><!--ブラウザのタブのタイトルを指定-->
    <%= stylesheet_link_tag 'top', :media => "all" %>
</head>

<body>
<div class="top">


<div class="slide" id="makeImg">
 <%= image_tag 'pasuta.jpg' %>
 <%= image_tag 'naisou.jpg' %>
 <%= image_tag 'kabe.jpg' %>
 <%= image_tag 'cake.jpg' %>
 <%= image_tag 'syo-ke-su.jpg' %>
</div>


    <div class="box">
        <h1 class="main">
          </h1>
    </div>

    <div class="intro-kihonhen">
        <h2>エストが開店して40年</h2>
    
        自家製にこだわった作り方と味を守り続けて、さまざまな種類のお料理をご用意しております。</br>
        パスタやドリア、一品料理やケーキなど、お客様にご満足いただけるよう、精一杯のおもてなしをさせていただきます。</br>
        コース料理や女子会プランなど
    </div>

</div>
</body>
</html>